.main-section {
    min-height: 20rem;
    padding: 5rem;

    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.main-section table {
    text-align: center;
}

.main-section td {
    width: 10rem;
    padding: 1rem;
}

#section-cplusplus, #section-java {
    background-color: #121548;
}

.left-1 img, .right-1 img {
    border-radius: 8px;
    object-fit: cover;
    width: 25rem;
    height: 100%;
}

.left-1, .right-1 {
    flex: 1;
}

.left-2, .right-2 {
    flex: 2;

    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.left-button {
    align-self: flex-end;
}

.left-2 {
    text-align: right;
    padding-right: 2rem;
}

.pay-button {
    background-color: #1f215f;
    height: 3rem;
    width: 5rem;

    border-radius: 1rem;
}

.pay-button:hover {
    background-color: #232d9a;
    color: #f0f8ff;
}

.exam-button {
    background-color: #2e4577;
    height: 3rem;
    width: 10rem;

    border-radius: 1rem;
}

.exam-button:hover {
    background-color: #4753d1;
    color: #f0f8ff;
}

.pay-button:disabled, .exam-button:disabled {
    background-color: #414465;
    color: #7679a0;
    cursor: not-allowed;
}