.main-section {
    min-height: 25rem;
    max-width: 100%;
}

#section-introduction {
    background-color: #0d0433;
    background-image: url(../Assets/imagenes/program-background-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#introduction-company {
    gap: 5rem;
}

.more-button {
    margin-top: 1rem;
    margin-bottom: .5rem;
    text-align: center;
    width: 8rem;
    height: 4rem;
    background-color: #0d0433;
    border-radius: 1rem;
}

#section-us {
    padding: 2rem 5rem 4rem;

    display: flex;
    justify-content: space-between;
    gap: .5rem;
}

.left-1 img{
    border-radius: .5rem;
    object-fit: cover;
    width: 25rem;
    height: 100%;
}

.left-1 {
    flex: 1;
}

.right-2 {
    flex: 3;
}

#btnNosotros {
    background-color: #1f215f;
}

.divide-index {
    margin: 1rem 0;
}