/* Service */

.service-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.service-grid{
    padding: 1rem;
    display: flex;
    gap: 30px;
}

.service-card{
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    background-color: #1f215f;
    text-align: justify;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.service-card img{
    border-radius: 8px;
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.service-card h3{
    font-size: 1.3rem;
    color-scheme: #333333;
    margin-bottom: 10px;
}

.service-content {
    flex-grow: 1;
}